body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 252, 245);
}
header, nav, section, article, aside, footer{
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}
header{
    background:  #FFBCD9;
    color: rgb(51, 51, 51);
    text-align: center;
}

nav{
    background: #B3E5FC;
    color: white;
    text-align: center;
}
section{
    display: flex;
}
article{
    flex: 2;
    background:  #E1BEE7;
    padding: 15px;
}
aside{
    flex: 1;
    background: #FFF9B0;
    padding: 15px;
}
footer{
    background:  #C8FACC;
    text-align: center;
}
a{
    color: red;
    margin: 0 10px;
    text-decoration: none;
}
a:hover{
    border-bottom: 3px purple solid;
    color: purple;
    font-weight: bold;
}
